body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px 1260px 400px;
}

/*--------------------------- Navbar ---------------------------*/
.navBar {
  background-color: #5978d5;
  width: 250px;
  height: 100% !important;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding-top: 23px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

p {
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.loginButton {
  margin-bottom: 20px;
  cursor: pointer;
}

.seHeleÅret {
  cursor: pointer;
}

.navBarYearContainer {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: auto;
}

.navBarYearContainer div {
  /* Får samme style som h2 har */
  display: block;
  font-size: 2em;
  margin-block-start: 0.58em;
  margin-block-end: 0.58em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  cursor: pointer;
}

.navBarMonth {
  display: block;
  padding: 15px 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.colorSelected {
  background-color: #2544a3;
}

/*--------------------------- Calender (dates) ---------------------------*/
.calender {
  width: 1100px;
  padding: 0 50px;
  height: 880px;
  margin-left: 45px;
  margin-top: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: solid rgb(200, 200, 200) 2px;
  border-radius: 25px;
}

.weeksContainer {
  display: grid;
  grid-template-columns: 135px;
  width: 150px;
  height: 880px;
  float: left;
  justify-items: center;
  align-items: center;
  color: rgb(121, 121, 121);
}

.weeks-grid-item {
  padding: 30px;
}

.grid-date-container {
  display: grid;
  grid-template-columns: repeat(7, 135px);
  justify-items: center;
  align-items: center;
  width: 950px;
  height: 880px;
}

.dates-grid-item {
  padding: 30px 40px;
  cursor: pointer;
}

.selectedDate {
  background-color: #5978d5;
  border-radius: 10px;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.appointment--color {
  display: block;
  background-color: blue;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 0;
  color: black;

  font-size: 1rem;
  position: relative;
  top: 30px;
}

/*--------------------------- Events ---------------------------*/
.hendelser {
  position: absolute;
  top: 30px;
  width: 400px;
  height: 55em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: solid rgb(200, 200, 200) 2px;
  border-radius: 25px;
}
.hendelser h1 {
  width: 360px;
  text-align: center;
}

.hendelseBox {
  width: 360px;
  height: 640px;
  margin: auto;
}

.hendelse {
  padding: 15px;
  width: 330px;
  height: auto;
  margin: auto auto 20px auto;
  border: solid rgb(200, 200, 200) 1px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* hendelse farge */
.hendelse div {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  float: left;
}

.hendelse h2 {
  margin: 0 0 0 40px;
}

.hendelse p {
  margin: 0 0 0 40px;
}

.nyHendelse {
  position: absolute;
  top: 810px;
  left: 10px;
  width: 380px;
  height: 60px;
  background-color: #5978d5;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5;
  color: white;
  font-size: 1.5rem;
}
.widthCard {
  width: 400px;
}

/*--------------------------- Calender (entire year) ---------------------------*/
#entireYear {
  width: 1600px;
  height: 55em;
  margin-left: 45px;
  margin-top: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: solid rgb(200, 200, 200) 2px;
  border-radius: 25px;
}

#years {
  width: 1400px;
  padding: 50px 30px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.selectedYear {
  background-color: #5978d5;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.month-container {
  height: 700px;
  width: initial;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 0 100px;
}

.grid-item-month {
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: lightgray;
  border-radius: 15px;
}
.daysInMonthBox {
  width: 280px;
  height: 170px;
  margin: auto;
  background-color: white;
}
.grid-item-month-days {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 10px auto 10px auto 10px auto;
}
